
* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size:16px;
}

body {
    margin: 0 88px;
}

form {
    margin-top:200px;
}

.data-html {
    color:red;
}

.data-html p:first-child{
    font-size:2em;
}