.koodit-header__link:first-child:after {
    width: 0;
     height: 0;
     border: 0.313em solid transparent;
     /* 5 */
     border-bottom: none;
     border-top-color: #336fb5;
     content:'';
     vertical-align: middle;
     display: inline-block;
     position: relative;
     right: -0.313em;
  }

  .koodit-header__navlinks {
      display:flex;
      flex-direction: row;
      list-style-type:none;
  }

  .koodit-header__sub-menu {
      position:absolute;
      list-style-type:none;
      color:#336fb5;
      text-align:center;
      background-color: #fff;
      border:1px solid rgba(0,0,0,.15);
      padding:.5rem 0
  }
  .koodit-header__sub-menu li {
    padding:.25rem 1.5rem
  }


  .koodit-header__link {
    padding: .5rem 0.5rem;
  }

  .koodit-header__navlinks li a {
    text-decoration: none;
    color:#336fb5;
  }