.form-application__container {
    display:flex;
    flex-direction: row;
}

.form-cv-column {
    display:flex;
    flex-direction: column;
}

.form-application {
    display:block;
    width:100%;
    max-width: 600px;
}

.dropzone {
    border:2px dashed #336fb5;
    position:relative;
    border-radius:5px;
}

.dropzone-file__progress-bar {
    position:relative;
    width:100%;
    background-color:#fff;
    border:1px solid #000;
    height:10px;
    border-radius:5px;
}

.dropzone-file__live-progress {
    background-color:green;
    position: absolute;
    height:10px;
}